.login-page-main-row {
  background: #ffffff;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto";
}
.login-details-filling-form-col-tag {
  width: 100%;
}
.Ivory-logo-img-tag {
  height: 6.8vh;
  margin: 3.2%;
}
.login-details-filling-row-tag {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-details-filling-form {
  width: 398px;
}
.login-to-youracnt-row-text {
  width: 70%;
}
.loginto-text-span-tag {
  font-weight: 400;
  font-size: 40px;
  color: #2ca3fa;
}
.loginto-text-span-tag-two {
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  color: #2ca3fa;
  margin: 0 0 8.7% 0;
}
.youraccount-text-p-tag {
  font-weight: 400;
  font-size: 40px;
  color: #2ca3fa;
}
.username-text-span-tag {
  font-weight: 500;
  font-size: 14px;
  color: #959595;
}
.password-text-span-tag {
  font-weight: 500;
  font-size: 14px;
  color: #959595;
}
.forgot-password-span-tag {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: #2ca3fa;
}
.rememberme-checkbox-col-tag {
  display: flex;
  justify-content: end;
}
.remeber-me-checkbox-tag {
  font-weight: 500;
  font-size: 16px;
  color: #2ca3fa;
}
.login-btn-form-item-tag {
  display: flex;
  align-items: flex-end;
  height: 60px;
}
.login-button-tag {
  border-radius: 30px;
  background: #2ca3fa;
  width: 150px;
  height: 44px;
  font-weight: 500;
  font-size: 20px;
}
.copy-rights-text-row-tag {
  height: 10vh;
  display: flex;
  align-items: flex-end;
}
.copy-rights-text-span-tag {
  margin-left: 44px;
  font-weight: 400;
  font-size: 14px;
  color: #959595;
  height: 40px;
  border-bottom: 7px solid #2ca3fa;
}

.signup-suggestion-img-col {
  background-image: url(../../assets/lady-laugh-img.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60vh;
}
.signup-text-row-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 54%;
}
.new-here-text-span-row {
  color: #ffffff;
  font-weight: 300;
  font-size: 50px;
  line-height: 59px;
}
.sign-up-text-span-tag {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.sign-up-btn-login-page {
  border: 2px solid #ffffff;
  border-radius: 30px;
  width: 9vw;
  height: 6vh;
  background: transparent;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy-rights-text-span {
  display: none;
}
.patient-signin-input {
  background: #ffffff;
  border: 1px solid #959595;
  border-radius: 3px;
  width: 398px;
  height: 40px;
}
.login-page-main-row .ant-form-item {
  margin-bottom: 7%;
}
@media screen and (max-width: 1750px) {
  .sign-up-text-span-tag {
    font-size: 23px;
  }
  .new-here-text-span-row {
    font-size: 49px;
  }
  .sign-up-btn-login-page {
    font-size: 23px;
  }
}
@media screen and (max-width: 1550px) {
  .sign-up-text-span-tag {
    font-size: 21px;
  }
  .new-here-text-span-row {
    font-size: 47px;
  }
  .sign-up-btn-login-page {
    font-size: 21px;
  }
}
@media screen and (max-width: 1350px) {
  .sign-up-text-span-tag {
    font-size: 18px;
  }
  .new-here-text-span-row {
    font-size: 43px;
  }
  .sign-up-btn-login-page {
    font-size: 18px;
  }
}
@media screen and (max-width: 1150px) {
  .sign-up-text-span-tag {
    font-size: 15px;
  }
  .new-here-text-span-row {
    font-size: 40px;
  }
  .sign-up-btn-login-page {
    font-size: 15px;
  }
}
@media screen and (max-width: 970px) {
  .sign-up-text-span-tag {
    font-size: 12px;
  }
  .new-here-text-span-row {
    font-size: 35px;
  }
  .sign-up-btn-login-page {
    font-size: 12px;
  }
}

@media (max-width: 1100px) {
  .loginto-text-span-tag {
    font-weight: 400;
    font-size: 30px;
    color: #2ca3fa;
  }
  .loginto-text-span-tag-two {
    font-weight: 400;
    font-size: 30px;
    line-height: 47px;
    color: #2ca3fa;
    margin: 0 0 8.7% 0;
  }
  .youraccount-text-p-tag {
    font-weight: 400;
    font-size: 30px;
    color: #2ca3fa;
  }
  .login-button-tag {
    border-radius: 30px;
    background: #2ca3fa;
    width: 140px;
    height: 40px;
    font-weight: 500;
    font-size: 20px;
  }
  .copy-rights-text-row-tag {
    height: 10%;
  }
}
@media (max-width: 1024px) {
  .patient-signin-input {
    width: 398px;
  }
}

@media (max-width: 800px) {
  .Ivory-logo-img-tag {
    height: 6vh;
    margin: 3.2%;
  }
}

@media (max-width: 575px) {
  .patient-signin-input {
    width: 80vw;
  }
  .Ivory-logo-img-tag {
    margin: 3.2%;
  }
  .login-details-filling-form {
    width: 398px;
    padding: 0 15px;
    margin: 0 0 0 5%;
  }
  .login-to-youracnt-row-text {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-btn-form-item-tag {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60px;
  }
  .copy-rights-text-span-tag {
    display: none;
  }
  .copy-rights-text {
    height: 6%;
    display: flex;
    align-items: flex-end;
  }
  .copy-rights-text-span {
    display: block;
    font-weight: 400;
    font-size: 12px;
    color: #959595;
    height: 30px;
    border-bottom: 4px solid #2ca3fa;
    margin-left: 15px;
  }
}
